/* -----------
general styles 
-------------- */

* {
    border: unset;
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    border: none;
}

/* ------------------------------
styles for input tasks section 
------------------------------ */
#wrap {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#input-task-container {
    display: flex;
    justify-content: space-around;
    background-color: olive;
    padding: 25px;
    margin-bottom: 2em;
}

#new-task-input {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px 0 0 5px;
}

#add-task-btn {
    border: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
}

/* -------------------------------
styles for task items list section
------------------------------- */

/* #task-list-container {
    background-color: rgb(168, 179, 179);
} */

#task-list {
    padding: 25px;
}

li {
    text-decoration-style: none;
}

.task-item {
    display: flex;
    background-color: rgb(160, 153, 150);
    color: #ffffff;
    margin: 0.5em 0;
    padding: 20px;
    justify-content: space-between;
    border-radius: 5px;
}

.delete-btn {
    background-color: firebrick;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
}